<template name="bindAccount">
    <!-- 微信绑定用户界面 -->
   <!-- {{#if binded}}
    <div style="font-size:30px;font-weight:bold;overflow:hidden;">该用户已绑定！</div>
    {{else}} -->
<div data-role="page" id="register" class="pageContain edge ui-page ui-page-theme-a ui-page-header-fixed ui-page-active" data-url="register" tabindex="0" style="padding-top: 47px; min-height: 568px;">
    <div data-role="page" id="bindAccount" class="pageContain" style="display:block;">
        <div data-role="header" data-position="fixed" data-theme="a" role="banner" class="ui-header ui-bar-a" style="display:none;">
            <a data-rel="back" data-icon="carat-l" data-iconpos="notext" class="ui-link ui-btn-left ui-btn ui-icon-carat-l ui-btn-icon-notext ui-shadow ui-corner-all" data-role="button" role="button">Back</a>
            <h2 class="ui-title" role="heading" aria-level="1">绑定账号</h2>
        </div>
        <!-- .ui-header end -->
        <div class="authenticate">
            <div class="form-frame">
		<div class="ui-input-text ui-body-inherit ui-corner-all ui-shadow-inset ui-input-has-clear">
                 <input type="text" class="login-tel" data-clear-btn="true" name="tel-2" id="tel-2" value="" placeholder="手机号" />
                </div>
		<div class="ui-input-text ui-body-inherit ui-corner-all ui-shadow-inset">
		 <input type="password" class="pass" name="text-1" id="text-1" value="" placeholder="登录密码" />
	        </div>
		 <button class="ui-btn ui-corner-all bindAccount" type="button">绑定</button>
	            <span class="login-reset fontstyle">没有账号？
                <a data-rel="back" class="a-link to-register">免费注册</a>
                <a herf="#" id="forgetPassword" class="fontstyle">忘记密码？</a>
            </span>	
            </div>
        </div>
<!--         <div data-role="popup" id="popupTip">
            <p>密码错误</p>
        </div> -->
   </div>
</div>
 <!--  {{/if}}-->
</template>
